body
  margin: 0px
  padding: 0px
  background: #CCCCCC

article
  position: absolute

input
  display: block
  font-size: 17px
  line-height: 20px
  padding: 12px 18px 13px
  border: 1px solid #BDC3C7

button
  display: block
  background: #1abc9c
  font-size: 17px
  line-height: 20px
  padding: 12px 18px 13px
  border: none
  color: #ffffff
  width: 213px
  border-radius: 6px
  &:hover
    background: #48c9b0

book_width=198px*2/5
book_heihgt=245px*2/5

main_width=800px

.container
  width: main_width
  margin: 0 auto
  position: relative
  background: #FFF

.howami
  font-size: 86px
  padding: 10px 0px 0px 10px
  cursor: pointer

.input
  margin: 0 (main_width/4)
  margin-top: 30px
  font-size: 16px
  input
    width: 100%
    margin-bottom: 20px
  button
    margin: 0px auto

.share
  position: absolute
  right: 10px
  top: 130px

.line-top, .line-bottom
  position: absolute
  height: 40px
  .box-a, .box-b
    width: 100%
    height: 100%
    position: absolute
    top: 0px
    left: 0px
  .box-b
    left: 50%
    border-left: 1px solid #000

.box-a
  .line-top &
    border-top: 1px solid #000
  .line-bottom &
    border-bottom: 1px solid #000

.book
  width: book_width
  height: book_heihgt
  background-position: center center
  background-size: cover
  position: absolute
  left:0px
  top:0px

.want, .push
  position: absolute
  width: 20px
  height: 20px
  left: -10px
  background-position: center center
  background-size: cover

.want
  top: 5px
  background-image: url('../images/want.png')
  .status-want &
    background-image: url('../images/want_check.png')

.push
  top: 30px
  background-image: url('../images/push.png')
  .status-push &
    background-image: url('../images/push_check.png')

.subject
  padding: 5px 0px 0px 5px
  color: #FFF
  font-size: 20px

.header form
  height: 200px

.main section
  height: 1000px

#innovation
  width: book_width * 3 + 40px * 2 + 30px + 26px
  height: book_heihgt + 40px
  background: #2ECC71
  top: 10px
  left: 10px
  .book
    top: 30px
    &:nth-child(1)
      left: 30px
    &:nth-child(2)
      left: 30px + 40px + book_width
    &:nth-child(3)
      left: 30px + (40px + book_width) * 2

#information
  width: book_width * 3 + 40px * 2 + 30px + 26px
  height: book_heihgt + 40px
  background: #8E44AD
  top: 10px
  right: 10px
  .book
    top: 30px
    &:nth-child(1)
      left: 30px
    &:nth-child(2)
      left: 30px + 40px + book_width
    &:nth-child(3)
      left: 30px + (40px + book_width) * 2

#ux
  background: #27AE60
  width: ux_width = main_width - 20px
  height: book_heihgt * 3 + 30px * 2 + 60px * 2
  left: 10px
  top: book_heihgt + 40px + 30px
  row1 = 30px
  row2 = 30px + book_heihgt + 60px
  row3 = 30px + book_heihgt*2 + 120px
  column1 = book_width / 2 + 20px
  column2 = ux_width / 2 - 50px
  column3 = ux_width - (book_width/2) - 20px - 50px
  .book
    top: row1
    &.observing_the_user_experience
      left: column1 - (book_width/2)
    &.analyzing_the_social_web
      top: row2
      left: column1 - (book_width/2)
    &.sketching_user_experiences
      left: column2 - (book_width/2) - 30px - book_width
    &.this_is_service_design_thinking
      left: column2 - (book_width/2)
    &.the_ux_book
      left: column2 + (book_width/2) + 30px
    &.writing_for_interaction
      top: row2
      left: column2 - (book_width*2) - 30px
    &.mobile_user_experience
      top: row2
      left: column2 - (book_width*1) - 10px
    &.agile_user_experience_design
      top: row2
      left: column2 + (book_width*0) + 10px
    &.experience_design
      top: row3
      left: column2 - book_width - 15px
    &.it_s_our_research
      top: row3
      left: column2 + 15px
    &.designing_the_search_experience
      top: row2
      left: column2 + (book_width*1) + 30px
    &.usability_testing_essentials
      left: column3 - (book_width/2)
    &.measuring_the_user_experience
      top: row2
      left: column3 - book_width - 10px
    &.quantifying_the_user_experience
      top: row2
      left: column3 + 10px
    &.user_experience_management
      top: row3
      left: column3 - (book_width/2)
  .left1
    width: (book_width/2)
    left: column1 - (book_width/4)
    top: row1 + book_heihgt + 10px
  .center1top
    width: book_width*2
    left: column2 - book_width
    top: row1 + book_heihgt + 10px
  .center1bottom
    width: book_width*4
    left: column2 - book_width*2
    top: row1 + book_heihgt + 10px
  .center2top
    width: book_width*4
    left: column2 - book_width*2
    top: row2 + book_heihgt + 10px
  .center2bottom
    width: book_width
    left: column2 - (book_width/2)
    top: row2 + book_heihgt + 10px
  .right1
    width: book_width
    left: column3 - (book_width/2)
    top: row1 + book_heihgt + 10px
  .right2
    width: book_width
    left: column3 - (book_width/2)
    top: row2 + book_heihgt + 10px

#interaction
  background: #256B33
  width: interaction_width = main_width - 20px
  height: book_heihgt * 2 + 30px * 2 + 60px
  left: 10px
  top: (book_heihgt + 40px + 30px) + (book_heihgt * 3 + 30px * 2 + 60px * 2) + 20px
  row1 = 30px
  row2 = 30px + book_heihgt + 60px
  column1 = interaction_width * 1/4
  column2 = interaction_width * 3/4
  .book
    top: row1
    &.human_computer_interaction
      top: row1
      left: column1 - (book_width/2)
    &.a_touch_of_code
      top: row2
      left: column1 - book_width - 20px
    &.art_com
      top: row2
      left: column1 + 20px
    &.brave_nui_world
      top: row1
      left: column2 - (book_width/2)
    &.ui_is_communication
      top: row2
      left: column2 - (book_width/2)
  .left1
    width: book_width
    left: column1 - (book_width/2)
    top: row1 + book_heihgt + 10px
  .right1
    width: (book_width/2)
    left: column2 - (book_width/4)
    top: row1 + book_heihgt + 10px