.book
  width: 595px / 5
  height: 842px / 5
  background-position: center center
  position: relative

.want, .push
  position: absolute
  width: 10px
  height: 10px
  left: -5px

.want
  top: 0px

.push
  top: 15px
