<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>學習地圖 by 桑格設計書店</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="styles/index.css">
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/index.js"></script>
  </head>
  <body ng-app="sungood"> 
    <div class="header">
      <div class="howami">我是______，我的學習地圖：</div>
    </div>
    <div ng-controller="BookCtrl" class="main">
      <section>
        <article>
          <div ng-repeat="book in books | filter:{group:'INNOVATION'}" style="background-image: url('images/{{book.name | filename}}.jpg')" class="book status-{{book.status}}">
            <div ng-click="want(book)" class="want"></div>
            <div ng-click="push(book)" class="push"></div>
          </div>
        </article>
        <article>
          <div ng-repeat="book in books | filter:{group:'UX'}" style="background-image: url('images/{{book.name | filename}}.jpg')" class="book status-{{book.status}}">
            <div ng-click="want(book)" class="want"></div>
            <div ng-click="push(book)" class="push"></div>
          </div>
        </article>
        <article>
          <div ng-repeat="book in books | filter:{group:'INFORMATION DESIGN'}" style="background-image: url('images/{{book.name | filename}}.jpg')" class="book status-{{book.status}}">
            <div ng-click="want(book)" class="want"></div>
            <div ng-click="push(book)" class="push"></div>
          </div>
        </article>
        <article>
          <div ng-repeat="book in books | filter:{group:'INTERACTION DESIGN'}" style="background-image: url('images/{{book.name | filename}}.jpg')" class="book status-{{book.status}}">
            <div ng-click="want(book)" class="want"></div>
            <div ng-click="push(book)" class="push"></div>
          </div>
        </article>
      </section>
    </div>
  </body>
</html>